<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!! You can manipulate images here and visualize data </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
</head>
<body>
    <!-- Barre des tâches -->
    <nav class="taskbar">
        <ul>
            <li><a href="/Image_manip">🪐 Manipulate Image</a></li>
            <li><a href="/audio">🎶 Manipulate Audio</a></li>
            <li><a href="/visualization">🔭 Data Visualization</a></li>
            <li><a href="/generate_static_shapes">🌟 Interactive Shapes</a></li>
            <li><a href="/style_trans">✨ Style Transfer</a></li>
            <li><a href="/dynamic_shape">💫 Dynamic Shapes</a></li>
        </ul>
    </nav>
    <h1>Image Manipulation Tool</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg" required>
        <select name="filter">
            <option value="none">No Filter</option>
            <option value="pixelate">Pixelate</option>
            <option value="rainbow">Rainbow</option>
            <option value="mirror">Mirror Effect</option>
            <option value="cartoonify">Cartoonify</option>
        </select>
        <button type="submit">Upload and Apply Filter</button>
    </form>

    <div class="images-container">
        {% if filename %}
            <div>
                <h2>Original Image:</h2>
                <img src="{{ url_for('static', filename='images/uploads/' + filename) }}" alt="Original Image">
            </div>

            <div>
                <h2>Processed Image:</h2>
                <img src="{{ url_for('static', filename='images/uploads/' + 'processed_' + filename) }}" alt="Processed Image">
            </div>
        {% endif %}
    </div>
</body>
</html>
