<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!! You can manipulate images here and visualize data </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
        select, button {
            margin: 10px;
            padding: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body style="background-image: url('templates/premium_photo-1669533188185-65e346a34190.jpg'); background-size: cover; background-position: center;">
    <h1>Welcome on the art galery</h1>
    <a href="/Image_manip">Manipulate Image </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Audio_manip">Manipulate Audio </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/visualization">View Data Visualization</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/generate_static_shapes">Interactive Shapes Canvas</a> &nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="/style_trans">For style transfer</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/dynamic_shape">Dyanmic shape</a>
</body>
</html>